# 忽略构建输出目录
build/

# 忽略所有 .o 和 .a 文件
*.o
*.a

# 忽略日志文件
*.log

# 忽略可执行文件，如果它们不是源码的一部分
*.exe
*.out
*.elf
*.bin

# 忽略备份文件
*~

# 忽略编辑器生成的临时文件
*.swp
*.swo

# 忽略操作系统生成的文件
.DS_Store
Thumbs.db
/.idea/.gitignore
/.idea/misc.xml
/.idea/vcs.xml
